body
  font:
    family: Verdana
    size: 80%

#playlist
  max-width: 400px
  list-style-type: none
  padding: 0px
  margin: 0px
  li
    overflow: hidden
    margin-bottom: 5px
    padding: 2px 2px
    cursor: pointer
    &:hover
      border: 1px solid #333333
      background: #343434 url(images/ui-bg_highlight-soft_50_343434_1x100.png) 50% top repeat-x
      color: #f7f7f7

.currentSong
  font-weight: bold

.song
  img
    width: 34px
    height: 34px
    border: 1px solid white
    float: left
    padding: 0
    margin-right: 5px

.metadata
  font:
    size: x-small
    weight: normal
  margin: 0

